Flask==1.1.2
Flask-Cors==3.0.8
Jinja2==2.11.2
requests==2.18.4
pycodestyle==2.6.0
attrs==25.1.0
babel==2.17.0
bcrypt==4.3.0
blinker==1.9.0
certifi==2025.1.31
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
flasgger==0.9.7.1
Flask==1.1.2
Flask-Babel==2.0.0
Flask-Cors==3.0.8
greenlet==3.1.1
idna==2.6
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==2.0.1
mistune==3.1.2
mysql-connector-python==9.3.0
mysqlclient==2.2.7
packaging==24.2
pathlib2==2.3.7.post1
pycodestyle==2.6.0
pyrsistent==0.20.0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.18.4
rpds-py==0.23.1
setuptools==75.8.0
six==1.17.0
SQLAlchemy==2.0.38
typing_extensions==4.12.2
urllib3==1.22
Werkzeug==1.0.1
